nav {
    background-color: rgb(155, 107, 155);

    .webName {
        color: #fff;
        font-size: 2rem;
        padding-top: 1rem;

        padding-left: 2rem;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
        li {
            padding: 0.5rem 1rem;
            a {
                color: #fff;
                font-style: 1.5rem;
            }
        }
    }
}
